<!-- This html file is the base layout file all the other pages will inherit from it
        ie: all the other pages will use it **explanation not good enough re-explain later* -->
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Discovery</title>


    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i,800&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

{% include "layout/nav.html" %}

{% block content %}
{% endblock %}


<!-- Footer -->
{% include "layout/footer.html" %}

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
